<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <title>Feedback App for training</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" /> 

  </head>
<body>
    <h1>title</h1>
     <p>Welcome to the test<p>
     <div id="wrapper">

        <div id="userList">

            <h2>User List</h2>
            <table>
                <thead>
                    <th>
                        User
                    </th>

                    <th>
                        Email
                    </th>

                    <th>
                        delete?
                    </th>
                </thead>
                <tbody>
                </tbody>


            </table> 
        </div>  <!-- end of userlist -->

        <!-- add user -->
        <h2>Add User</h2>

        <div id="addUser">
            <form>
                <fieldset>
                    <input type="text" id="inputUserName" placeholder="username">
                    <input type="text" id="inputUserEmail" placeholder="email"><br>
                    <input type="text" id="inputUserFullname" placeholder="full name">
                    <input type="text" id="inputUserAge" placeholder="age"><br>
                    <input type="text" id="inputUserLoc" placeholder="location"><br>
                    <input type="text" id="inputUserGender" placeholder="gender"><br>
                    <button type="button" id="btnAddUser">Add Feed</button>
                </fieldset>
            </form>
        </div> <!-- end of addSser -->
       
    </div> <!-- end of wrapper -->


    <script src="/plugins/jQuery/jQuery-2.1.4.min.js" type="text/javascript"></script>
    <script src="/site/js/global.js"  type="text/javascript"></script> 
</body>
</html>